#!/bin/sh

# install packages

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# {{if eq .chezmoi.os "linux"}}
sudo apt update && sudo apt upgrade -y && sudo apt install -y \
  build-essential \
  curl \
  fish \
  git \
  unzip \
  wget \
  xclip \
  zsh

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

brew install \
  gcc
# {{end}}

# {{if eq .chezmoi.os "darwin"}}
brew install \
  coreutils \
  curl \
  fish \
  git \
  unzip \
  wget
# {{end}}

brew install \
  fzf \
  git-delta \
  jq \
  neovim \
  ranger \
  tmux \
  tmuxp \
  zsh-autosuggestions

# oh my zsh

git clone https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh

# tpm

git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# vim-plug

curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
  https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim

sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'

# bin dir

test ! -d $HOME/bin && mkdir $HOME/bin

PATH=$PATH:$HOME/bin

# tasks

cat <<EOS

tasks:
- add ". ~/.my-config/bash/init.zsh" to bash's config
- add ". ~/.my-config/fish/init.fish" to fish's config
- add ". ~/.my-config/z-shell/init.zsh" to z-shell's config

EOS
