#!/bin/sh

# install packages

# {{if eq .chezmoi.os "linux"}}
# manager

sudo apt update && sudo apt upgrade -y && sudo apt install -y \
  build-essential \
  curl \
  fish \
  fzf \
  git \
  git-delta \
  jq \
  ranger \
  tmux \
  tmuxp \
  unzip \
  xclip \
  zsh

# {{if eq .chezmoi.os "linux"}}
# {{if (.chezmoi.kernel.osrelease | lower | contains "microsoft")}}
sudo apt install -y \
  fcitx5-mozc \
  pulseaudio
# {{end}}
# {{end}}

# manual

# NOTE: temporary for version issue
# neovim

test ! -d ~/bin && mkdir ~/bin

cd /tmp
curl -LO https://github.com/neovim/neovim/releases/download/v0.10.0/nvim-linux64.tar.gz
tar xzvf nvim-linux64.tar.gz
mv nvim-linux64 ~/bin/nvim
rm nvim-linux64.tar.gz
cd -
# {{end}}

# {{if eq .chezmoi.os "darwin"}}
# manager

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew install \
  coreutils \
  curl \
  fd \
  fish \
  fzf \
  git \
  git-delta \
  jq \
  neovim \
  ranger \
  tmux \
  tmuxp \
  unzip \
  zsh
# {{end}}

# asdf

git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.1

# oh my zsh

git clone https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh

# zsh-autosuggestions
git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

# tpm

git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# vim-plug

curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
  https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim

sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
