local wezterm = require 'wezterm'

local config = wezterm.config_builder()

config.keys = {
  { key = 'l', mods = 'ALT', action = wezterm.action.ShowLauncher },
}

-- {{if eq .chezmoi.os "windows"}}
config.default_prog = { 'pwsh' }
-- {{end}}

config.font = wezterm.font_with_fallback {
  'PlemolJP Console NF',
  'JetBrains Mono',
}

-- {{if ne .chezmoi.os "darwin"}}
config.font_size = 9
-- {{end}}

function get_appearance()
  if wezterm.gui then
    return wezterm.gui.get_appearance()
  end
  return 'Dark'
end
function scheme_for_appearance(appearance)
  if appearance:find 'Dark' then
    return 'Builtin Dark'
  else
    return 'Builtin Light'
  end
end
config.color_scheme = scheme_for_appearance(get_appearance())

return config
