# oh my posh

eval "$(oh-my-posh init zsh)"

# envs

export EDITOR=nvim

export DISABLE_AUTO_TITLE='true' # required by tmuxp

# paths

# {{if eq .chezmoi.os "linux"}}
export PATH=~/bin:$PATH
# {{end}}

# NOTE: temporary for version issue
# {{if eq .chezmoi.os "linux"}}
# neovim

export PATH=~/nvim/bin:$PATH
# {{end}}

# aliases

alias rm='rm -i'

# {{if ne .chezmoi.os "darwin"}}
# pbcopy & pbpaste

alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
# {{end}}

# update & cleanup

# {{if eq .chezmoi.os "linux"}}
alias package-update='sudo apt update && sudo apt upgrade -y'
alias package-cleanup='sudo apt autoremove && sudo apt autoclean'
# {{end}}

# {{if eq .chezmoi.os "darwin"}}
alias package-update='brew update && brew upgrade'
alias package-cleanup='brew autoremove && brew cleanup'
# {{end}}

alias uc='package-update ; package-cleanup'
