# oh my zsh

export ZSH="$HOME/.oh-my-zsh"

# ZSH_THEME="agnoster"
# DEFAULT_USER=$(whoami) # for agnoster: to hide the “user@hostname” info when logged in as yourself on local machine

plugins=(
    asdf
    composer
    docker
    docker-compose
    fzf
    git
    tmux
    z
    zsh-autosuggestions
)

source $ZSH/oh-my-zsh.sh

# oh my posh
# {{if eq .chezmoi.os "linux"}}
export PATH=~/bin:$PATH
# {{end}}

eval "$(oh-my-posh init zsh)"

# envs

export EDITOR=nvim

export DISABLE_AUTO_TITLE='true' # required by tmuxp

# paths

# NOTE: temporary for version issue
# {{if eq .chezmoi.os "linux"}}
# neovim

export PATH=~/nvim/bin:$PATH
# {{end}}

# aliases

# (prevent rm with) trash-cli

alias rm='trash-put'

# {{if ne .chezmoi.os "darwin"}}
# pbcopy & pbpaste

alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
# {{end}}

# update & cleanup

# {{if eq .chezmoi.os "linux"}}
alias package-update='sudo apt update && sudo apt upgrade -y'
alias package-cleanup='sudo apt autoremove && sudo apt autoclean'
# {{end}}

# {{if eq .chezmoi.os "darwin"}}
alias package-update='brew update && brew upgrade'
alias package-cleanup='brew autoremove && brew cleanup'
# {{end}}

alias trash-cleanup='trash-empty'

alias uc='package-update && package-cleanup && trash-cleanup'
