# trash-cli

alias rm='trash-put'

# exa

alias ls='exa --icons'         # just replace ls by exa and allow all other exa arguments
alias l='ls -lbF'              #   list, size, type
alias ll='ls -la'              # long, all
alias llm='ll --sort=modified' # list, long, sort by modification date
alias la='ls -lbhHigUmuSa'     # all list
alias lx='ls -lbhHigUmuSa@'    # all list and extended
alias tree='exa --tree'        # tree view
alias lS='exa -1'              # one column by just names

# ranger

alias r='ranger'

# git

alias g='git'

# nvim

alias vi='nvim'
alias vim='nvim'

# docker

alias d='docker'
alias dc='docker compose'

# tmux

alias tmux='tmux -2'
alias t='tmux'
alias ta='t attach'
alias td='t detach'
alias tk='t kill-session'

# tmuxp

alias tp='tmuxp'

# {{if ne .chezmoi.os "darwin"}}
# pbcopy & pbpaste

alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
# {{end}}

# update & cleanup

# {{if eq .chezmoi.os "linux"}}
alias package-update='sudo apt update && sudo apt upgrade'
alias package-cleanup='sudo apt autoremove && sudo apt autoclean'
# {{end}}

# {{if eq .chezmoi.os "darwin"}}
alias package-update='brew update && brew upgrade'
alias package-cleanup='brew autoremove && brew cleanup'
# {{end}}

alias docker-cleanup='docker system prune -f --volumes'
alias trash-cleanup='trash-empty -f'

alias uc='package-update && package-cleanup && docker-cleanup && trash-cleanup'
