#!/bin/sh

# install packages

# {{if eq .chezmoi.os "linux"}}
# manager

sudo apt update && sudo apt upgrade -y && sudo apt install -y \
    build-essential \
    curl \
    fd-find \
    fish \
    fzf \
    git \
    jq \
    ranger \
    subversion \
    tmux \
    unzip \
    xclip \
    zsh

# NOTE: 無いdistributionがあるので
# TODO
sudo apt install -y \
    exa \
    tmuxp \
    trash-cli

# manual

# oh my posh

mkdir ~/bin

curl -s https://ohmyposh.dev/install.sh | bash -s -- -d ~/bin

# NOTE: temporary for version issue
# neovim

curl -LO https://github.com/neovim/neovim/releases/download/v0.10.0/nvim-linux64.tar.gz
tar xzvf nvim-linux64.tar.gz
mv nvim-linux64 nvim
rm nvim-linux64.tar.gz

# NOTE: temporary for version issue
# ripgrep

curl -LO https://github.com/BurntSushi/ripgrep/releases/download/14.1.0/ripgrep_14.1.0-1_amd64.deb
sudo dpkg -i ripgrep_14.1.0-1_amd64.deb
rm ripgrep_14.1.0-1_amd64.deb
# {{end}}

# {{if eq .chezmoi.os "darwin"}}
# manager

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew install \
    coreutils \
    curl \
    fd \
    fish \
    fzf \
    git \
    jandedobbeleer/oh-my-posh/oh-my-posh \
    jq \
    neovim \
    ranger \
    ripgrep \
    subversion \
    tmux \
    unzip \
    zsh

# linuxと合わせる
brew install \
    exa \
    tmuxp \
    trash-cli
# {{end}}

# tmux

git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# vim

curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim

vim -c 'PlugUpdate' -c 'qa'

# oh my zsh

git clone https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh

git clone https://github.com/asdf-vm/asdf.git ~/.asdf

git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

# change shell

shell=$(which zsh)

grep "$shell" /etc/shells || sudo bash -c "echo $shell >> /etc/shells"

sudo chsh -s $shell $USER
