#!/bin/sh

# install packages

# {{if eq .chezmoi.os "linux"}}
sudo apt update && sudo apt upgrade -y && sudo apt install -y \
    build-essential \
    curl \
    exa \
    fzf \
    git \
    neovim \
    ranger \
    subversion \
    tmux \
    tmuxp \
    trash-cli \
    xclip \
    zsh
# {{end}}

# {{if eq .chezmoi.os "darwin"}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew install \
    coreutils \
    curl \
    exa \
    fzf \
    git \
    neovim \
    ranger \
    subversion \
    tmux \
    tmuxp \
    trash-cli \
    zsh
# {{end}}

# tmux

git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# vim

curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim

vim -c 'PlugUpdate' -c 'qa'

# nvim

sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'

nvim -c 'PlugUpdate' -c 'qa'

# Oh My Zsh

git clone https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh

git clone https://github.com/asdf-vm/asdf.git ~/.asdf

git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

# change shell

shell=$(which zsh)

grep "$shell" /etc/shells || sudo bash -c "echo $shell >> /etc/shells"

sudo chsh -s $shell $USER
