# {{if eq .chezmoi.os "linux"}}
export PATH=~/bin:$PATH
# {{end}}

# NOTE: temporary for version issue
# {{if eq .chezmoi.os "linux"}}
# neovim

export PATH=~/bin/nvim/bin:$PATH
# {{end}}

export EDITOR=nvim

export DISABLE_AUTO_TITLE='true' # required by tmuxp

# {{if eq .chezmoi.os "linux"}}
# {{if (.chezmoi.kernel.osrelease | lower | contains "microsoft")}}
# fcitx5
if command -v fcitx5 &>/dev/null; then
    export XMODIFIERS=@im=fcitx
    export GTK_IM_MODULE=fcitx
    export QT_IM_MODULE=fcitx

    # NOTE: autostartしないので (waylandを無効化しないと起動しない)
    fcitx5 --disable=wayland --verbose="*=0" -d
fi
# {{end}}
# {{end}}