# {{if eq .chezmoi.os "darwin"}}
# brew

eval (/opt/homebrew/bin/brew shellenv)
# {{end}}

# asdf

# {{if eq .chezmoi.os "linux"}}
source ~/.asdf/asdf.fish
# {{end}}

# {{if eq .chezmoi.os "darwin"}}
source (brew --prefix asdf)/libexec/asdf.fish
# {{end}}

# bash_aliases

source ~/.bash_aliases

# envs

set -xg EDITOR nvim

# bobthefish theme

set -g theme_display_git yes
set -g theme_display_git_dirty yes
set -g theme_display_git_untracked yes
set -g theme_display_docker_machine yes
set -g theme_display_virtualenv yes
set -g theme_display_nix yes
set -g theme_display_ruby yes
set -g theme_display_vi yes
set -g theme_display_date yes
set -g theme_title_display_path yes
set -g theme_title_use_abbreviated_path yes
set -g theme_powerline_fonts yes
