. ~/.my-config/shell/envs.sh

#

HISTSIZE=10000
SAVEHIST=10000
setopt append_history
setopt share_history
setopt hist_ignore_all_dups

stty -ixon

bindkey -e
bindkey '^R' history-incremental-search-backward
bindkey '^S' history-incremental-search-forward
# bindkey '^P' history-beginning-search-backward
# bindkey '^N' history-beginning-search-forward

# oh-my-zsh's completion

zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'

# antigen

. ~/antigen.zsh

antigen bundle agkozak/zsh-z
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle zsh-users/zsh-syntax-highlighting

antigen apply

# starship

eval "$(starship init zsh)"

#

. ~/.my-config/shell/aliases.sh
